@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#columns-one{
  background-color: rgb(213, 213, 213);
}

#columns-two{
text-align: start;
height: 10rem;
padding: 1rem;
border-radius: 1rem;
border-color: black;
}

#calendar{
  margin-left: 10rem;
  margin-right: 10rem;
}

#tiles{
  margin: 5rem;
}

.tile{
  border-radius: 2rem;
}