@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#columns-one{
  background-color: rgb(213, 213, 213);
}

#columns-two{
text-align: start;
height: 10rem;
padding: 1rem;
border-radius: 1rem;
border-color: black;
}

#calendar{
  margin-left: 10rem;
  margin-right: 10rem;
}

#tiles{
  margin: 4rem;
}

.tile{
  border-radius: 2rem;
}

.sidebar-container {
  position: relative;
}

#sidebar-open-button {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  margin: 1rem;
  padding: 1rem;
}

.opened #sidebar-open-button {
  left: -100%;
}

#sidebar {
  transition: all 0.5s;
  background-color: #1e1e1e;
}

.closed #sidebar {
  transform: translateX(210%);
}

#sidebar-close-button{
  width: 87rem;
  padding: 1rem;
}

#number-of-habits{
  size: 200rem;
}

article{
  background-color: #393838 !important;
}

html{
  background-color: #1e1e1e;
}

#all-tiles{
  position: relative;
}

#myChart{
  position: absolute;
  padding: 5rem;
  margin-right: 5rem;
}

.notification{
  color: black;
}

#sidebar-all{
  z-index: 9;
}
