
      .hidden {
        display: none;
      }
      /* Add this CSS to your existing styles.css */

table {
    width: 60rem;
    border-collapse: collapse;
    line-height: 15px;
    margin-left: 15rem;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    /* Adjust the width and center the text */
    width: 100px; /* You can change the width to your desired size */
    margin: 0 auto; /* Center the text within the cell */
}

td:last-child {
    text-align: center;
}

/* Style checkboxes for completion */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* Center the table within the habits-list */
.habits-list {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: white;
    z-index: 2;
}

#habitFrequency{
    height: 40px;
}

  .subtitle{
    -webkit-text-fill-color: white;
    margin-left:15rem;
    z-index: 2;
  }


  
.select-row {
    display: flex;
    gap: 8px;
}

.label{
    -webkit-text-fill-color: rgba(255, 255, 255, 0.607);
}

html{
    background-color: #1e1e1e;
  }

  .title{
    margin-left: .3rem;
  }

  #habittrackerbox{
    margin:2rem;
    text-align: center;
    margin-top: 10rem;
    background-color: #393838;
    width: 60rem;
    padding: 2rem;
    margin-left: 15.1rem;
    border-radius: 1rem;
  }

  #habitName{
    width: 60rem;
  }

  #habitFrequency{
    width: 60rem;
  }

  #buttonadd{
    width: 56rem !important;
    margin-top: 1rem;
  }

  #box{
    align-content:center;
  }

  #titletracker{
    color: #dddddd;
  }