
      .hidden {
        display: none;
      }
      /* Add this CSS to your existing styles.css */

table {
    width: 500px;
    border-collapse: collapse;
    margin-top: 20px;
    line-height: 15px;
    
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    /* Adjust the width and center the text */
    width: 100px; /* You can change the width to your desired size */
    margin: 0 auto; /* Center the text within the cell */
}

td:last-child {
    text-align: center;
}

/* Style checkboxes for completion */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* Center the table within the habits-list */
.habits-list {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: white;
    z-index: 2;
}

#habitForm{
    margin-top: 2rem;
    margin-left:10rem;
    margin-right:20rem;
    width: 500px;
    z-index: 2;
    
}
#habitFrequency{
    width: 200px;
    height: 40px;
}

#habitTable{
    margin-left:10rem;
    margin-right:20rem;
    z-index: 2;
    font-size: 12px;
}

.title{
    margin-top:2rem;
    margin-left:-5rem;
    -webkit-text-fill-color: white;
    z-index: 2;
}


body {
    position:absolute;
background-color:#1e1e1e;
height:1280px;
width:1620px;
padding:0px;
  }

  .subtitle{
    -webkit-text-fill-color: white;
    margin-left:15rem;
    z-index: 2;
  }

  #habitName{
    height: 30px;
  }

  
.select-row {
    display: flex;
    gap: 8px;
}

.label{
    -webkit-text-fill-color: rgba(255, 255, 255, 0.607);
}

.rectangle6
{
background-color:#330000;
height:228px;
width:275px;
border-radius:50px;
position: absolute;
right: 500px;
bottom:900px;

}

.title{
    padding-left: 130px;
}
